@import '../src/main'

// $grayable: ()
%grayable	
	$grayable: dy-deployable()
	width: 100px
	box-shadow: gray

	&.grayscale
		$grayable: dy-define-transform($grayable, color, grayscale, 'this.color')

	$grayable: $grayable !global


.fake-button
	$component: dy-deployable($grayable)
	+dy-extend($grayable)
	// $component: dy-deployable()

	$component: dy-define-state($component, color, red)

	$component: dy-output($component, color)
	$component: dy-output($component, background-color, color)

	.nested-block
		$component: dy-output($component, border-color, color)

	&.primary
		$component: dy-define-version($component, color, blue)

		.nested-block
			$component: dy-output($component, color)

	&.success
		$component: dy-define-version($component, color, green)

		$component: dy-output($component, fake, color)

	&:hover
		$component: dy-define-transform($component, color, fade-out, 'this.color', 0.1)

		$component: dy-output-function($component, background-color, darken, 'this.color', 20%)

	@debug $component

	+dy-build($component)

.no-transforms
	$c: dy-deployable()

	$c: dy-define-state($c, color, red)
	$c: dy-output($c, color)

	+dy-build($c)